section01/ex1/*
!section01/ex1/*.c

section01/ex2/*
!section01/ex2/*.c

section01/ex3/*
!section01/ex3/*.c

section02/ex1/*
!section02/ex1/*.c

section02/ex2/*
!section02/ex2/*.c

section02/ex3/*
!section02/ex3/*.c

section02/ex4/*
!section02/ex4/*.c

section03/ex1/*
!section03/ex1/*.c

section03/ex2/*
!section03/ex2/*.c

section03/ex3/*
!section03/ex3/*.c

.idea
cmake-build-debug